<!DOCTYPE html>
<html >
<head>
    <meta  http-equiv="Content-Type" content="text/html; " charset="UTF-8">
    <title>我的选课</title>
    <!--引入jquery -->
    <script src=""></script>
    <script src="./static/js/jquery-3.3.1.js"></script>
    <!-- 引入样式-->
    <link rel="stylesheet" href="./static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="./static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./static/js/student/checkedCourseList.js" charset="UTF-8"   ></script>
    <link rel="stylesheet" href="./static/css/layui.css">
</head>
<body>
<!--使用bootstrap搭建页面 -->
<div class="container">
    <!--标题 -->
    <div class="row">
        <div class="col-md-12">
            <h1>我的选课</h1>
        </div>
    </div>
    <!--按钮 -->
    <!--<div class="row">-->
    <!--<div class="col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8">-->
    <!--<button class="btn btn-primary" id="user_add_modal_btn">新增</button>-->
    <!--<button class="btn btn-danger" id="user_delete_all_btn">删除</button>-->
    <!--</div>-->
    <!--</div>-->
    <br>
    <!--显示表格数据 -->
    <div class="row">
        <div class="table-responsive col-md-12">
            <table class="table table-hover" id="users_table">
                <thead>
                <tr>
                    <!--<th>-->
                    <!--<input type="checkbox" id="check_all"/>-->
                    <!--</th>-->

                    <th>课程编号</th>
                    <th>课程名称</th>
                    <th>教师名称</th>
                    <th>人数限制</th>
                    <th>已选人数</th>
                    <th>分数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>


            </table>
        </div>
    </div>
</div>

<div style="text-align:center; margin-top:10px; margin-left:-100px;" id="page_info_area">
</div>
</body>
</html>